# basic python syntax

In [10]:
print("Hello")

Hello

In [12]:
print(" " "Hello Everyone" " ")

 Hello Everyone

In [15]:
print("Hello \ World")

Hello \ World

In [18]:
print('Python')

Python

In [19]:
print("Python's World")

Python's World

In [20]:
print("Hello \t Python")

Hello 	 Python

In [27]:
print("Hello\nPython")

Hello
Python

In [28]:
print('python\'s world')

python's world

# Formatted output

In [29]:
print("The name of person is abc")
name="xyz"
marks=90.7
age=20
print("The name of person is",name,"marks is",marks,"age is",age)

The name of person is abc
The name of person is xyz marks is 90 age is 20

In [38]:
print("The name of person is abc")
name="xyz"
marks=90.7
age=20
print('The name of person is %s marks is %f age is %d'%(name,marks,age))

The name of person is abc
The name of person is xyz marks is 90.700000 age is 20

In [45]:
name="xyz"
marks=90.7
age=20
print(f"The name of person is {name} the marks is {marks} age is {age}")

The name of person is xyz the marks is 90.7 age is 20

# variable

In [46]:
a=10

In [47]:
a

10

In [48]:
_10=6

In [49]:
_10

6

In [50]:
x=y=z=10

In [51]:
x

10

In [52]:
z

10

In [53]:
x=20

In [54]:
id(x)

140724861314032

In [55]:
y=20

In [56]:
id(y)

140724861314032

In [57]:
y

20

In [58]:
del y

# Arithmetic operator

In [60]:
5**5

3125

In [61]:
5*5

25

In [67]:
23/2

11.5

In [63]:
25%5

0

In [64]:
25+5

30

In [65]:
25-5

20

In [66]:
23//2

11

# Comparison Operator

In [68]:
a=10
b=10

In [69]:
a==b

True

In [71]:
c=20
a==c

False

In [75]:
a<b

False

In [73]:
a<=b

True

In [76]:
a!=b

False

# assignment operator

In [78]:
a=110
b=a
b

110

# bitwise operator

In [84]:
a=240
b=1
a|b

241

In [81]:
bin(a)

'0b11110000'

In [82]:
bin(b)

'0b1'

In [85]:
a&b

0

# logical operator

In [87]:
a=1
b=20
a>b

False

In [91]:
a=1
b=20
a>20 or 10<9

False

In [90]:
a=1
b=20
a>20 and 10<9

False

In [92]:
10>9 and 20>m

NameError: name 'm' is not defined

In [93]:
10<9 and 20<m

False

# membership operator

In [96]:
str1="python assignment"
"a" in str1

True

# identity operator

In [97]:
a=10
b=10
a==b

True

In [98]:
a=10
b=10
a==b
a is b

True

In [99]:
a=257
b=257
a==b

True

In [100]:
a is b

False

# bodmas rule

In [101]:
10+10/20*4

12.0

In [102]:
2**-1

0.5

In [103]:
10>8>9

False